* {
	font-family: Arial;
	margin: 0;
	padding: 0;
	transition: 0.5s all;
	outline: none;
}

a{
	text-decoration: none;
}



.form__layout{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,0.8);
	display: none;	
	justify-content: center;
	align-items: center;

}

.show__order__form{

}

.order__form{
	width: 300px;	
	background-color: #fff;
	padding: 40px;
	position: relative;
}

.order__form label{
	display: block;
}

.order__form label input{
	display: block;
	width: 100%;
	margin: 10px 0 15px;
	font-size: 22px;
	border-radius: 5px;
	border: 1px solid #ff6f2a;
	padding-left: 15px;
	
}

.order__form h3{
	margin-top: 0;
	margin-bottom: 30px;
}

.button__container{
	text-align: center;
	padding-top: 10px;
}

.orrange__button{
	border: 0;
	padding: 10px 30px;
	background-color: #ff6f2a;
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

.orrange__button:hover{
	background-color: #ED6727;
}

.close__button{
	width: 30px;
	height: 30px;
	background-image: url(./img/criss-cross.png);
	position: absolute;
	right: 20px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

.close__button:hover{
	background-image: url(./img/quit.png);
}

header {
	background-color: #fbfbfb;
	height: 760px;
	overflow: hidden;
}

.fixed-container {
	width: 1360px;
	margin: 0 auto;
	background-image: url(./img/photo.png) ;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 45%;
}

.first-section {
	display: flex;	
	flex-direction: column;
	align-items: center;
	
}

.menu-container {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	height: 60px;
	
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	color: #1f1f24;
	text-decoration: none;
	margin-right: 40px;
}

nav a:hover {
	color: #fc557c;
	text-decoration: underline;
}

.phone-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.phone {
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
}
.order-call {
	border: 1px solid #fc557c;
	padding: 16px 40px;
	color: #fc557c;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
}
.order-call:focus,.order-call:hover{
	border-color:  #710821;
	color: #710821;
	border-radius: 5px;
}
.title-container {
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 650px;
}

h1 {
	font-size: 60px;
	margin: 0 0 15px;
}

h3 {
	color: #8993ad;
	font-size: 24px;
	font-weight: normal;
}



.more__btn{
	width: 270px;
	height: 60px;
	margin-top: 45px;
	border: 1px solid #ff4e2e;
	padding: 16px 40px;
	color: white;
	background-color: #ff4e2e;
	cursor: pointer;
	font-size: 18px;
	font-family: Tahoma;
	border-radius: 5px;
}

.more__btn:hover,.more__btn:focus{
	border: 1px solid #D01F1F;
	color: white;
	background-color: #D01F1F;
	cursor: pointer;
	border-radius: 5px;
}

.services{
	width: 1000px;
	height: 640px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.headline{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 54px;
	color: #000;
}

.services__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.services__list li{
	width: 287px;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

}


.services__tittle{
	font-family: Tahoma;
	font-weight: 400;
	font-size: 20px;
	color: #8993ad;
	text-align: center;
}

.work__exempl{
	width: 100%;
	height: 860px;
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}


.work__exempl__list{
	width: 1170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.work__exempl__list li a{
	width: 370px;
	height: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}


.work__exempl__tittle{
	font-family: Tahoma;
	font-weight: 400;
	font-size: 20px;
	color: #8993ad;
	text-align: center;
}

.work__exempl__tittle:hover{
	color: #D01F1F;
}

.banner{
	width: 100%;
	height: 360px;
	background-color: #ff4e2e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: Tahoma;
}

.banner h2{
	width: 1000px;
	font-size: 45px;
	font-weight: bold;
	padding-left: 100px;
}

.banner p{

	width: 1000px;
	font-size: 18px;
	padding-left: 100px;
	margin-top: 40px;
}